 /**the em property is relative to font size always even if u dont specify the font size but still the html will 
 by default set the font size to 16px**/
 /*if u want to bring the element to the center then use 0 auto*/

 /* section{
    margin-top:100px;

 }
 div{
    width:200px;
    height:50px;
    text-align:center;
    background-color:green;
    border:2px solid black;
    margin:10px auto;
 }
 div:nth-of-type(2n){
    background-color: orange;

 }
 div:nth-of-type(3n){
    background-color: yellow;
 }
 #one{
    transform:rotate(270deg);
 }
 #two{
    /* transform:scale(0.5); */
    /* transform:scale(2,0.5); */
 /*}
 #three{
   transform:translate(100px,100px);
 }
 #four{
    transform:skew(30deg);
 }
 #five{
    transform:rotate(30deg) translate(20px);
 } */
  /* background size contain means the image will get repeated in order to fit into the div*/
    /* relative means normal alterations we can do to the the element  but
    for absolute we do it in realtive to parental  */
    #outer{
      height:500px;
      width:500px;
      background-color: white;
      margin:0 auto;
      border:2px solid black;
padding-top:50px; 
    }
    #circle{
      height:400px;
      width:400px;
      border-radius:50%;
      background-color: yellow;
margin: 0 auto ;
padding :20px;
padding-top:50px;
 
    }
    #righteye{
      height:70px;
      width:70px;
      border-radius:50% ;
      background-color: black;
  position:absolute;
  left:230px;
  top:150px;

   }

     #lefteye{
      height:70px;
      width:70px;
      border-radius:50% ;
      background-color: black;
    position:absolute;
     left:380px;
     top:150px;

   }  
    #smile{
      height:70px;
      width:200px;
      border-radius: 0 0 50px 50px;
      background-color: rgb(233, 61, 61);
      position:absolute;
      top:350px;
      left:240px;
      

    }