div {
    border: 2px solid black;
    border-radius: 12px;
    padding: 12px;
    margin: 10px;
    margin-left: 20px;
    background-color: rgb(154, 230, 226);
}

h1 {
    font-size: 24px;
    text-align: center;
    color: darkblue;
    border: 2px solid black;
    border-radius: 20px;
    margin: 0px;

}

button {
    margin-top: 20px;
    height: 100px;
    width: 300px;
    border-radius: 50px;
    background-color: lightgreen;
    padding: 9px;

}

button:hover {
    background-color: lightblue;


}